:local(.clickable) {
  text-decoration: bold;
}

:local(.clickable):hover {
  cursor: pointer;
  text-decoration: none;
  color: #53dd6c;
}

:local(.box) {
  margin-top: 20px;
  padding: 10px;
  background-color: #2c3e50;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  color: #8d8989;
}

:local(.headerimage) {
  width: 80%;
  margin-top:15px;
}

:local(.playerbutton){
  border-radius:0;
}

body {
  background-color: #34495e;
  font-family: 'Source Sans Pro', sans-serif;
}

:local(.listeners) {
  position: relative;
  top: 60px;
}

.vol {
  border-radius:0;
  color: #252323;
}

.vol:active,
.vol.active,
.vol:hover,
.vol.hover,
.vol:active:hover, {
  color:#252323;
}

.vol {
  color: #252323;
}
