:local(.clickable) {
  text-decoration: underline;
}

:local(.clickable):hover {
  cursor: pointer;
  text-decoration: none;
}

:local(.box) {
  margin-top: 20px;
  padding: 20px;
  border: black 1px solid;
}
