:local(.clickable) {
  text-decoration: bold;
}

:local(.clickable):hover {
  cursor: pointer;
  text-decoration: none;
  color: #53dd6c;
}

:local(.box) {
  margin-top: 20px;
  padding: 10px;
  background-color: #383535;
  color: #8d8989;
}

.header-image {
  width: 65%;
  height: 65%;
  margin-top:15px;
}

body {
  background-color: #252323;
  font-family: 'Source Sans Pro', sans-serif;
}

.listeners {
  position: relative;
  top: 30px;
}
