:local(.clickable) {
  text-decoration: bold;
}

:local(.clickable):hover {
  cursor: pointer;
  text-decoration: none;
}

:local(.box) {
  margin-top: 20px;
  padding: 10px;
  background-color: #2c3e50;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  /* Track colour */
  color: #486784;
}

/* mobile && tablets */
/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
  :local(.headerimage) {
    width: 103%;
    margin-top:15px;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
  :local(.headerimage) {
    width: 103%;
    margin-top:15px;
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  :local(.headerimage) {
    width: 103%;
    margin-top:15px;
  }
}

/* desktops */
/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  :local(.headerimage) {
    width: 103%;
    margin-top:15px;
  }
  :local(.mobilebutton) {
    display:none;
  }
  :local(.listeners) {
    position: relative;
    top: 85px;
  }
}

/* large screens */
@media only screen and (min-width : 1200px){
  :local(.headerimage) {
    width: 103%;
    margin-top:15px;
  }
  :local(.mobilebutton) {
    display:none;
  }

  :local(.listeners) {
    position: relative;
    top: 85px;
  }
}

:local(.playerbutton){
  border-radius:0;
}

body {
  background-color: #34495e;
  font-family: 'Roboto', sans-serif;
}

:local(.volume) {
  padding: 0;
}
