:local(.clickable) {
  text-decoration: bold;
}

:local(.clickable):hover {
  cursor: pointer;
  text-decoration: none;
  color: #53dd6c;
}

:local(.box) {
  margin-top: 20px;
  padding: 10px;
  background-color: #383535;
  color: #8d8989;
}
/* mobile && tablets */
/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
  :local(.headerimage) {
    width: 100%;
    margin-top:15px;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
  :local(.headerimage) {
    width: 100%;
    margin-top:15px;
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  :local(.headerimage) {
    width: 100%;
    margin-top:15px;
  }
}
/* desktops */
/* Medium Devices, Desktops + large screens */
@media only screen and (min-width : 992px) {
  :local(.headerimage) {
    width: 80%;
    margin-top:15px;
  }
}
@media only screen and (min-width : 1200px){
  :local(.headerimage) {
    width: 80%;
    margin-top:15px;
  }
}

:local(.playerbutton){
  border-radius:0;
}
body {
  background-color: #252323;
  font-family: 'Source Sans Pro', sans-serif;
}

:local(.listeners) {
  position: relative;
  top: 30px;
}

.vol {
  border-radius:0;
  color: #252323;
}

.vol:active,
.vol.active,
.vol:hover,
.vol.hover,
.vol:active:hover, {
  color:#252323;
}

.vol {
  color: #252323;
}
